# {{ PackageName }}

[![Stable](https://img.shields.io/badge/docs-stable-blue.svg)](https://jso.dev/{{ PackageName }}.jl/stable)
[![Dev](https://img.shields.io/badge/docs-dev-blue.svg)](https://jso.dev/{{ PackageName }}.jl/dev)
[![Build Status](https://github.com/JuliaSmoothOptimizers/{{ PackageName }}.jl/workflows/Test/badge.svg)](https://github.com/JuliaSmoothOptimizers/{{ PackageName }}.jl/actions)
[![Build Status](https://github.com/JuliaSmoothOptimizers/{{ PackageName }}.jl/workflows/Test/badge.svg)](https://github.com/JuliaSmoothOptimizers/{{ PackageName }}.jl/actions)
{% if UseCirrusCI %}[![Build Status](https://api.cirrus-ci.com/github/JuliaSmoothOptimizers/{{ PackageName }}.jl.svg)](https://cirrus-ci.com/github/JuliaSmoothOptimizers/{{ PackageName }}.jl){% endif %}
[![Coverage](https://codecov.io/gh/JuliaSmoothOptimizers/{{ PackageName }}.jl/branch/master/graph/badge.svg)](https://codecov.io/gh/JuliaSmoothOptimizers/{{ PackageName }}.jl)

## How to Cite

If you use {{ PackageName }}.jl in your work, please cite using the reference given in [CITATION.cff](https://github.com/JuliaSmoothOptimizers/{{ PackageName }}.jl/blob/main/CITATION.cff).
